
<style>


.grid-sizer,
.grid-item {
    width: 60px;
    border: 3px solid white;

}

.grid-item {
    float: left;
    /* padding-bottom: om is calculated and rendered in to HTML OR inserted on css class*/
}

.grid-item img {
    display: block;
    width: 100%;
}

	.grid-item:hover {
		transform: scale(1.5);
		     z-index:555555 !important;}
</style>


<div class="grid">
	<div class="grid-sizer"></div>
    {% for image in site.static_files %}
    {% if image.path contains 'img-inspiration' %}
<div class="grid-item" >{% picture "{{ site.baseurl }}{{ image.path }}" %}</div>
    {% endif %}
    {% endfor %}
</div>




<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous">
</script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>



<script>

	var $grid = $('.grid').isotope({
	    itemSelector: '.grid-item',
	    percentPosition: true,
	    masonry: {
	      // use element for option
	      columnWidth: '.grid-sizer'}
	});
	// layout Isotope after each image loads
		$grid.imagesLoaded().progress( function() {
		  $grid.isotope('layout');
		});  
</script>
